<banner data-title="'Argument Simulator'"
        data-desc="'Vote on polls, create your own, or don\'t'"
        data-signup="!user.loggedIn"></banner>

<div id="home">
    <div class="blurb">
        <h3 id="browse" class="blurb-icon">&#x2603;</h3>
        <h2 class="blurb-title">Browse Surveys</h2>
        <p class="blurb-desc">
            Join millions of users and browse through the vast collection of user-generated surveys. This feature might not be worth listing :/
        </p>
    </div>
    <div class="blurb">
        <h3 id="opinion" class="blurb-icon">&#x2623;</h3>
        <h2 class="blurb-title">Share Your Opinions</h2>
        <p class="blurb-desc">
            View specific polls and submit an answer to skew the results with your terrible opinions. Once answered, you can see everyone else's responses so you can reevaluate your life.
        </p>
    </div>
    <div class="blurb">
        <h3 id="account" class="blurb-icon">&#x2654;</h3>
        <h2 class="blurb-title">Make an Account</h2>
        <p class="blurb-desc">
            Separate yourself from the rest of these plebs so everyone can know which questions are yours. Not that it matters though, we can likely tell which questions are yours anyway.
        </p>
    </div>
</div>
